@import url("~/node_modules/water.css/out/light.min.css");

.flex {
  display: flex;
}

.columns > div {
  width: 50%;
}

h1,
h2 {
  margin-top: 40px;
  color: orange;
}

h3 {
  color: green;
}

* {
  font-family: 'Times New Roman', Times, serif;
}